## Play Data

In [2]:
import pandas as pd

schema = ['uid','device','song_id','song_type','song_name','singer','play_time','song_length','paid_flag']
df = pd.read_csv('../data/play/20170331_1_play.log',delimiter='\t',header=None,index_col=None,names=schema)

In [3]:
df.head(10)

,uid,device,song_id,song_type,song_name,singer,play_time,song_length,paid_flag
0,167584071.0,ar,4.38999e+06,0.0,魔幻手机,伤感歌曲,0,0.0,0.0
1,168029752.0,ar,1.02636e+06,0.0,你在天边,容中尔甲,0,277.0,0.0
2,167584071.0,ar,503175,0.0,奇迹再现(电视剧《迪加奥特曼》主题曲),毛毛,0,0.0,0.0
3,168029752.0,ar,234903,0.0,梦中的达娃卓玛,容中尔甲,0,315.0,0.0
4,167965547.0,ar,6.60614e+06,0.0,心锁,杨小曼&冷漠,256,256.0,0.0
5,167584071.0,ar,6.22274e+06,0.0,铠甲勇士刑天主题曲,儿童歌曲,0,0.0,0.0
6,168029752.0,ar,1.02636e+06,0.0,喜马拉雅恋曲,容中尔甲,0,266.0,0.0
7,167584071.0,ar,5.01111e+06,0.0,穿越曙光,唐丹,0,0.0,0.0
8,168029752.0,ar,234901,0.0,九寨之子,容中尔甲,245,245.0,0.0
9,167923831.0,ip,1.37506e+07,0.0,悟空 - Live,戴荃,197,197.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1860666 entries, 0 to 1860665
Data columns (total 9 columns):
uid            float64
device         object
song_id        object
song_type      float64
song_name      object
singer         object
play_time      object
song_length    float64
paid_flag      float64
dtypes: float64(4), object(5)
memory usage: 127.8+ MB

In [5]:
df.song_type.value_counts().head(10)

0.0     1631080
1.0      208354
2.0       18585
3.0         356
40.0         51
30.0         42
34.0         27
39.0         26
33.0         23
31.0         23
Name: song_type, dtype: int64

In [6]:
df.device.value_counts().head(10)

ar        1597862
ip         262297
薛之谦            50
金久哲            20
王冕             16
铃声             15
TFBOYS         14
路勇             14
mc             11
梦然             11
Name: device, dtype: int64

## Download Data

In [7]:
import pandas as pd

schema = ['uid','device','song_id','song_name','singer','paid_flag']
df = pd.read_csv('../data/1_down.log',delimiter='\t',header=None,index_col=None,names=schema)

In [8]:
df.head(10)

           uid device    song_id      song_name       singer paid_flag
0  167175597.0     ar  2833802.0           草原之夜          费玉清         0
1  168008024.0     ar  9859281.0         抬头月牙弯弯         MC半阳         0
2  167949371.0     ar  6807393.0           非常带劲       McTaiM         0
3  167654366.0     ip   399860.0            NaN          NaN         0
4  167969524.0     ar  6977636.0     你是伤我最深的那个人          雨霖枫         0
5  168014135.0     ar  6431766.0         Living  Florian Bur         0
6  167572709.0     ar  4221401.0           一曲红尘           高安         0
7  168310102.0     ip  3278304.0            NaN          NaN         0
8  167654366.0     ip  1043768.0            NaN          NaN         0
9  167569644.0     ar  4990551.0  香港之夜 - 快四 吉特巴          邓丽君         0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117628 entries, 0 to 117627
Data columns (total 6 columns):
uid          117487 non-null float64
device       117628 non-null object
song_id      117600 non-null float64
song_name    94646 non-null object
singer       94481 non-null object
paid_flag    117346 non-null object
dtypes: float64(2), object(4)
memory usage: 5.4+ MB

## Search Data

In [10]:
import pandas as pd

schema = ['uid','device','time_stamp','search_query']
df = pd.read_csv('../data/1_search.log',delimiter='\t',header=None,index_col=None,names=schema)

In [11]:
df.head(10)

,uid,device,time_stamp,search_query
0,167593390,ar,2017-03-31 00:00:01,%E9%87%91%E9%92%B1%E7%9A%84%E7%A4%BE%E4%BC%9A%...
1,168021414,ar,2017-03-31 00:00:01,%E7%9B%B8%E9%81%87%E6%98%AF%E7%BC%98
2,167839162,ar,2017-03-31 00:00:03,%E5%8D%83%E9%87%8C%E4%B9%8B%E5%A4%96
3,167839162,ar,2017-03-31 00:00:03,%E5%8D%83%E9%87%8C%E4%B9%8B%E5%A4%96
4,167839162,ar,2017-03-31 00:00:04,%E5%8D%83%E9%87%8C%E4%B9%8B%E5%A4%96
5,167839162,ar,2017-03-31 00:00:04,%E5%8D%83%E9%87%8C%E4%B9%8B%E5%A4%96
6,167617785,ar,2017-03-31 00:00:05,%E9%83%AD%E5%BE%B7%E7%BA%B2
7,168014864,ar,2017-03-31 00:00:05,mc
8,167730767,ar,2017-03-31 00:00:06,%E6%88%91%E6%9C%80%E7%88%B1%E7%9A%84%E4%B8%80%...
9,167807212,ar,2017-03-31 00:00:07,%E4%B8%A4%E4%B8%A4%E7%9B%B8%E6%9C%9B

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116142 entries, 0 to 116141
Data columns (total 4 columns):
uid             116142 non-null int64
device          116142 non-null object
time_stamp      116142 non-null object
search_query    116142 non-null object
dtypes: int64(1), object(3)
memory usage: 3.5+ MB